<configuration>
	<appSettings>
		<!--@"C:\Users\Palvi\Downloads\Home Assessment\Home Assessment\coding\feed-products\softwareadvice.json"-->
		<add key="FilePath" value="C:\Users\Palvi\Downloads\Home Assessment\Home Assessment\coding\feed-products\softwareadvice.json"/>
	</appSettings>
</configuration>